[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "soilFlux"]
	path = soilFlux
	url = https://github.com/hugomachadorodrigues/soilflux
[submodule "soilVAE"]
	path = soilVAE
	url = https://github.com/hugomachadorodrigues/soilvae
