[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "soilVAE"]
	path = soilVAE
	url = https://github.com/hugomachadorodrigues/soilvae
