[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GeoVersa"]
	path = GeoVersa
	url = https://github.com/cran/GeoVersa
[submodule "soilFlux"]
	path = soilFlux
	url = https://github.com/cran/soilFlux
[submodule "soilKey"]
	path = soilKey
	url = https://github.com/cran/soilKey
[submodule "soilVAE"]
	path = soilVAE
	url = https://github.com/cran/soilVAE
